img {
            display: inline-block !important;
        }

        .hidden {
            display: none !important;
        }

.answer-explanation {
        opacity: 0;
    }

    .answer-explanation.show {
        opacity: 1;
    }

    .question table {
        border: 1px solid;
    }

    .question table tr th {
        border: 1px solid;
        padding-left: 10px;
        padding-right: 10px;
    }

    .question table tr td {
        border: 1px solid;
        padding-left: 10px;
        padding-right: 10px;
    }

    .question ul {
        list-style: disc;
        padding-left: 40px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .question ol {
        padding-left: 40px;
        margin-top: 16px;
        margin-bottom: 16px;
    }